In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [158]:
import os
os.getcwd()

'/Users/siwoolchoi/Desktop/siwooly/대학원/머신러닝/class/kaggle'

In [159]:
os.chdir(r'/Users/siwoolchoi/Desktop/siwooly/대학원/머신러닝/class/kaggle/')

In [ ]:
df = pd.read_csv(r'trainset.csv', encoding='utf-8')
df

In [161]:
df['매칭성공여부'].value_counts(normalize=True)

매칭성공여부
0    0.904472
1    0.095528
Name: proportion, dtype: float64

In [162]:
df.columns

Index(['SEQ', '접수일', '접수시각', '장기서비스여부', '최초서비스일', '전체회차', '현재회차', '서비스일자',
       '서비스시작시간', '서비스종료시간', '기존고객여부', '결재형태', '서비스주소', '주거형태', '평수', '고객가입일',
       '반려동물', '부재중여부', '우선청소', '쿠폰사용여부', '매니저생년월일', '매니저최초가입일', '매니저최초서비스일',
       '매니저성별', '매니저사용휴대폰', '매니저주소', '매니저이동방법', '근무가능지역', 'CS교육이수여부',
       '청소교육이수여부', '부재중서비스가능여부', '추천인여부', '매칭성공여부'],
      dtype='object')

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23009 entries, 0 to 23008
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEQ         23009 non-null  object
 1   접수일         23009 non-null  object
 2   접수시각        3113 non-null   object
 3   장기서비스여부     23009 non-null  int64
 4   최초서비스일      23009 non-null  object
 5   전체회차        23009 non-null  int64
 6   현재회차        23009 non-null  int64
 7   서비스일자       23009 non-null  object
 8   서비스시작시간     23009 non-null  object
 9   서비스종료시간     23009 non-null  object
 10  기존고객여부      23009 non-null  int64
 11  결재형태        23009 non-null  object
 12  서비스주소       23009 non-null  object
 13  주거형태        23009 non-null  object
 14  평수          13856 non-null  object
 15  고객가입일       23009 non-null  object
 16  반려동물        20234 non-null  object
 17  부재중여부       13856 non-null  float64
 18  우선청소        10979 non-null  object
 19  쿠폰사용여부      23009 non-null  int64
 20  매니저생년월일     23009 non-null  object
 21  매니저최초가입일    23009 non-null  object
 22  매니저최초서비스일   23009 non-null  object
 23  매니저성별       23009 non-null  int64
 24  매니저사용휴대폰    20210 non-null  object
 25  매니저주소       23009 non-null  object
 26  매니저이동방법     22759 non-null  object
 27  근무가능지역      23009 non-null  object
 28  CS교육이수여부    20210 non-null  float64
 29  청소교육이수여부    20210 non-null  float64
 30  부재중서비스가능여부  23009 non-null  int64
 31  추천인여부       23009 non-null  int64
 32  매칭성공여부      23009 non-null  int64
dtypes: float64(3), int64(9), object(21)
memory usage: 5.8+ MB

In [164]:
df['매니저생년월일'] = df['매니저생년월일'].astype(str).str[0:4]

df['매니저생년월일']

0        1956
1        1976
2        1970
3        1956
4        1966
         ...
23004    1970
23005    1969
23006    1971
23007    1967
23008    1968
Name: 매니저생년월일, Length: 23009, dtype: object

In [165]:
testset = pd.read_csv('testset_final.csv')
testset

,SEQ,접수일,접수시각,장기서비스여부,최초서비스일,전체회차,현재회차,서비스일자,서비스시작시간,서비스종료시간,...,쿠폰사용여부,매니저생년월일,매니저성별,매니저사용휴대폰,매니저이동방법,근무가능지역,CS교육이수여부,청소교육이수여부,부재중서비스가능여부,추천인여부
0,T54370,2020-11-26,NaN,1,2020-11-30,8,2,2020-12-04,9:00:00,13:00:00,...,0,1961,0,안드로이드,대중교통,원주/춘천,0.0,0.0,1,0
1,T47892,2021-04-30,NaN,1,2021-05-12,4,1,2021-05-12,9:00:00,13:00:00,...,0,1961,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0
2,T56637,2019-12-26,NaN,1,2020-01-02,5,1,2020-01-02,9:00:00,13:00:00,...,1,1969,0,안드로이드,대중교통,기타,0.0,0.0,1,0
3,T45487,2021-07-26,NaN,1,2021-08-02,4,3,2021-08-23,9:00:00,13:00:00,...,0,1961,0,NaN,대중교통,부산,NaN,NaN,1,0
4,T41995,2019-09-02,NaN,1,2019-09-09,3,1,2019-09-09,9:00:00,13:00:00,...,0,1964,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,T31589,2020-09-28,NaN,1,2020-10-05,8,1,2020-10-05,9:00:00,13:00:00,...,1,1961,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0
4240,T36236,2020-01-01,NaN,1,2020-01-07,4,1,2020-01-07,14:00:00,18:00:00,...,0,1976,0,NaN,자차,천안/아산,NaN,NaN,1,0
4241,T34729,2020-12-10,NaN,1,2020-12-17,4,1,2020-12-17,9:00:00,13:00:00,...,0,1961,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0
4242,T53830,2020-01-02,NaN,1,2020-01-09,8,6,2020-02-20,9:00:00,13:00:00,...,1,1964,0,기타,자차,천안/아산,0.0,0.0,0,0
4243,T30681,2021-11-10,20:51:39,0,2021-11-12,1,1,2021-11-12,10:00:00,15:00:00,...,0,1971,0,안드로이드,대중교통,천안/아산,1.0,1.0,1,0

In [166]:
testset.columns

Index(['SEQ', '접수일', '접수시각', '장기서비스여부', '최초서비스일', '전체회차', '현재회차', '서비스일자',
       '서비스시작시간', '서비스종료시간', '기존고객여부', '결재형태', '서비스주소', '주거형태', '평수', '고객가입일',
       '반려동물', '부재중여부', '우선청소', '쿠폰사용여부', '매니저생년월일', '매니저성별', '매니저사용휴대폰',
       '매니저이동방법', '근무가능지역', 'CS교육이수여부', '청소교육이수여부', '부재중서비스가능여부', '추천인여부'],
      dtype='object')

In [167]:
train_only_cols = set(df.columns) - set(testset.columns) - {'매칭성공여부'}
train_only_cols

{'매니저주소', '매니저최초가입일', '매니저최초서비스일'}

In [168]:
features =  set(df1.columns) - {'SEQ'}
features

{'CS교육이수여부',
 '결재형태',
 '고객가입일',
 '근무가능지역',
 '기존고객여부',
 '매니저사용휴대폰',
 '매니저생년월일',
 '매니저성별',
 '매니저이동방법',
 '매칭성공여부',
 '반려동물',
 '부재중서비스가능여부',
 '부재중여부',
 '서비스시작시간',
 '서비스일자',
 '서비스종료시간',
 '서비스주소',
 '우선청소',
 '장기서비스여부',
 '전체회차',
 '접수시각',
 '접수일',
 '주거형태',
 '청소교육이수여부',
 '최초서비스일',
 '추천인여부',
 '쿠폰사용여부',
 '평수',
 '현재회차'}

In [169]:
# testset과 동일한 컬럼만 
df1 = df.drop(columns=train_only_cols)
df1

,SEQ,접수일,접수시각,장기서비스여부,최초서비스일,전체회차,현재회차,서비스일자,서비스시작시간,서비스종료시간,...,매니저생년월일,매니저성별,매니저사용휴대폰,매니저이동방법,근무가능지역,CS교육이수여부,청소교육이수여부,부재중서비스가능여부,추천인여부,매칭성공여부
0,T06420,2019-07-09,NaN,1,2019-07-15,3,3,2019-07-29,9:00:00,13:00:00,...,1956,0,안드로이드,대중교통,서울,0.0,0.0,1,0,0
1,T15430,2019-07-12,NaN,1,2019-07-15,4,3,2019-08-20,10:00:00,16:00:00,...,1976,0,안드로이드,대중교통,천안/아산,1.0,1.0,1,0,0
2,T23790,2020-11-18,NaN,1,2020-11-23,10,6,2020-12-11,9:00:00,13:00:00,...,1970,0,안드로이드,대중교통,천안/아산,0.0,0.0,0,0,0
3,T18740,2020-11-09,NaN,1,2020-11-09,4,4,2020-11-30,9:00:00,14:00:00,...,1956,0,안드로이드,대중교통,서울,0.0,0.0,1,0,0
4,T08451,2020-02-25,NaN,1,2020-03-31,2,2,2020-04-07,9:00:00,13:00:00,...,1966,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23004,T17071,2021-01-05,11:11:15,1,2021-01-06,4,1,2021-01-06,16:00:00,18:00:00,...,1970,0,안드로이드,자차,천안/아산,0.0,0.0,1,0,0
23005,T01336,2020-02-03,NaN,1,2020-03-02,10,9,2020-06-15,14:00:00,18:00:00,...,1969,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0,1
23006,T00544,2021-04-30,21:48:21,1,2021-05-20,4,3,2021-06-16,9:00:00,13:00:00,...,1971,0,안드로이드,대중교통,천안/아산,0.0,0.0,1,0,0
23007,T19297,2019-07-08,NaN,1,2019-07-10,4,3,2019-07-24,14:00:00,18:00:00,...,1967,0,안드로이드,자차,천안/아산,1.0,1.0,1,0,0
23008,T12658,2020-08-01,NaN,0,2020-08-10,1,1,2020-08-10,9:00:00,13:00:00,...,1968,0,NaN,대중교통,천안/아산,NaN,NaN,0,0,0

In [175]:
df1.isna().sum()

SEQ               0
접수일               0
접수시각          19896
장기서비스여부           0
최초서비스일            0
전체회차              0
현재회차              0
서비스일자             0
서비스시작시간           0
서비스종료시간           0
기존고객여부            0
결재형태              0
서비스주소             0
주거형태              0
평수             9153
고객가입일             0
반려동물           2775
부재중여부          9153
우선청소          12030
쿠폰사용여부            0
매니저생년월일           0
매니저성별             0
매니저사용휴대폰       2799
매니저이동방법         250
근무가능지역            0
CS교육이수여부       2799
청소교육이수여부       2799
부재중서비스가능여부        0
추천인여부             0
매칭성공여부            0
dtype: int64

In [171]:
df1['접수시각'].isna().sum()

np.int64(19896)

In [172]:
mask1 = df.loc[df1['접수시각'].isna(), :]
(mask1['매칭성공여부'] == 1).sum(), mask1['매칭성공여부'] 
mask = df1['접수시각'].isna()
not_na = df.loc[~mask, :]
# df.loc[df1["접수시각"].notna(), :]
not_na.info(), not_na['매칭성공여부'].sum()

<class 'pandas.core.frame.DataFrame'>
Index: 3113 entries, 16 to 23006
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEQ         3113 non-null   object
 1   접수일         3113 non-null   object
 2   접수시각        3113 non-null   object
 3   장기서비스여부     3113 non-null   int64
 4   최초서비스일      3113 non-null   object
 5   전체회차        3113 non-null   int64
 6   현재회차        3113 non-null   int64
 7   서비스일자       3113 non-null   object
 8   서비스시작시간     3113 non-null   object
 9   서비스종료시간     3113 non-null   object
 10  기존고객여부      3113 non-null   int64
 11  결재형태        3113 non-null   object
 12  서비스주소       3113 non-null   object
 13  주거형태        3113 non-null   object
 14  평수          3113 non-null   object
 15  고객가입일       3113 non-null   object
 16  반려동물        3113 non-null   object
 17  부재중여부       3113 non-null   float64
 18  우선청소        2617 non-null   object
 19  쿠폰사용여부      3113 non-null   int64
 20  매니저생년월일     3113 non-null   object
 21  매니저최초가입일    3113 non-null   object
 22  매니저최초서비스일   3113 non-null   object
 23  매니저성별       3113 non-null   int64
 24  매니저사용휴대폰    2781 non-null   object
 25  매니저주소       3113 non-null   object
 26  매니저이동방법     3076 non-null   object
 27  근무가능지역      3113 non-null   object
 28  CS교육이수여부    2781 non-null   float64
 29  청소교육이수여부    2781 non-null   float64
 30  부재중서비스가능여부  3113 non-null   int64
 31  추천인여부       3113 non-null   int64
 32  매칭성공여부      3113 non-null   int64
dtypes: float64(3), int64(9), object(21)
memory usage: 826.9+ KB

(None, np.int64(301))

train 결측치 
1) 원본 컬럼 버리고 , 접수시각_isnull
2) 우선청소 -> 0,1 로 할건지? 주방,방,화장실을 나눌것인지 -> 우선청소_isnull로
3)

In [173]:
# x = df1.loc[df1['우선청소'].notna(), :] #10979 // 1068
# y = x.loc[(x['우선청소'] == '화장실'), :] #3386 // 339
# y1 = x.loc[(x['우선청소'] == '주방'), :] #2003 // 189
# y2 = x.loc[(x['우선청소'] == '거실'), :] #2280 // 213
# y3 = x.loc[(x['우선청소'] == '방'), :] #3187 // 313
# y4 = x.loc[(x['우선청소'] == '베란다'), :] #123 // 14

In [ ]:
# 접수일
df1['접수일_year'] = df1['접수일'].astype(str).str[:4]
df1['접수일_month'] = df1['접수일'].astype(str).str[5:7]
df1['접수일_day'] = df1['접수일'].astype(str).str[8:]
df1['접수일_year'], df1['접수일_month'] , df1['접수일_day']
df1 = df1.drop(columns='접수일')
df1

In [ ]:
# 접수시각
df1['접수시각_isnull'] = df1['접수시각'].notna().astype(int) 
df1

In [ ]:
df1['최초서비스_year'] = df1['최초서비스일'].astype(str).str[:4]
df1['최초서비스_month'] = df1['최초서비스일'].astype(str).str[5:7]
df1['최초서비스_day'] = df1['최초서비스일'].astype(str).str[8:]
df1['최초서비스_year'], df1['최초서비스_month'] , df1['최초서비스_day']
# df1 = df1.drop(columns='최초서비스일')

In [ ]:
df1['서비스_year'] = df1['서비스일자'].astype(str).str[:4]
df1['서비스_month'] = df1['서비스일자'].astype(str).str[5:7]
df1['서비스_day'] = df1['서비스일자'].astype(str).str[8:]
df1['서비스_year'], df1['서비스_month'] , df1['서비스_day']
df1 = df1.drop(columns='서비스일자')
df1.columns

In [ ]:
#서비스시작시간
df1['서비스시작_hour'] = df1['서비스시작시간'].astype(str).str.split(":", n=1,).str[0]

df1['서비스시작_hour']
df1 = df1.drop(columns='서비스시작시간')
# t = pd.to_datetime(df1["서비스시작시간"], format="%H:%M:%S", errors="coerce")
# df1["서비스시작_hour"] = t.dt.hour

In [208]:
#서비스종료시간
df1['서비스종료_hour'] = df1['서비스종료시간'].astype(str).str.split(":", n=1,).str[0]

df1['서비스종료_hour']
df1 = df1.drop(columns='서비스종료시간')

In [224]:
# 파생변수 - 서비스경과시간
df1['서비스경과시간'] =  df1['서비스종료_hour'].astype(int) - df1['서비스시작_hour'].astype(int)

In [220]:
df1['결재형태'].unique()

array(['무통장입금', '신용카드', '가상계좌', '미수'], dtype=object)

In [ ]:
df1['결재형태'].value_counts()

In [ ]:
df1.groupby(['결재형태'])['매칭성공여부'].mean()

In [ ]:
df1['결재형태_신용카드']