In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

In [32]:
import os
os.getcwd()
os.chdir(r'/Users/siwoolchoi/Desktop/siwooly/대학원/머신러닝/class/5주차 강의코드데이터-20260124')

lemon = pd.read_csv('lemon.csv', encoding='euc-kr', index_col='ID')
 
lemon.head()

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,현재평균상태소매가격,현재평균이상상태소매가격,프리미엄여부,차량보증,구매자ID,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [33]:

lemon['프리미엄_yes'] = (lemon['프리미엄여부'] == 'YES').astype(int)
lemon['프리미엄_missing'] = (lemon['프리미엄여부'].isna()).astype(int)
lemon['차량보증_red'] = (lemon['차량보증'] == 'RED').astype(int)
lemon['차량보증_missing'] = (lemon['차량보증'].isna()).astype(int)
lemon['운행거리_로그변환'] = np.log1p(lemon['운행거리'])

lemon

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,33619,FL,7100.0,0,1113,0,1,0,1,11.396920
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,33619,FL,7600.0,0,1053,0,1,0,1,11.446722
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,33619,FL,4900.0,0,1389,0,1,0,1,11.209222
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,33619,FL,4100.0,0,630,0,1,0,1,11.091605
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,33619,FL,4000.0,0,1020,0,1,0,1,11.147181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,...,30212,GA,4200.0,0,993,0,1,0,1,10.719626
73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,...,30212,GA,6200.0,0,1038,0,1,0,1,11.181082
73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,...,30212,GA,8200.0,0,1893,0,1,0,1,11.390769
73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,...,30212,GA,7000.0,0,1974,0,1,0,1,11.284204
73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,...,30212,GA,8000.0,0,1313,0,1,0,1,11.110296

## 범주형 추가!!

In [34]:
# 변속기 
lemon['변속기'].unique()

array(['AUTO', 'MANUAL', nan, 'Manual'], dtype=object)

In [50]:
# lemon.loc[(lemon['변속기'] == 'Manual'), :] 
# lemon.loc[(lemon['변속기'] == 'Manual'), ['변속기']] = 'MANUAL'

(lemon['변속기'] == 'Manual').sum()

#### 원본 보존하고 만드는
lemon['변속기_std'] = lemon['변속기'].replace({'Manual': 'MANUAL'})

lemon.groupby(['변속기_std'], dropna=False)['lemon'].mean()

변속기_std
AUTO      0.123242
MANUAL    0.116071
NaN       0.111111
Name: lemon, dtype: float64

In [ ]:
lemon.loc[lemon['차량크기'].isna(),: ]

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,구매주,취득비용,온라인판매여부,보증금액,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환,변속기_std
ID,,,,,,,,,,,,,,,,,,,,,
10897,0,10/19/2009,MANHEIM,2002,7,GMC,SIERRA 1500,SL,BASE,WHITE,...,NC,7500.0,0,1455,0,1,0,1,11.268162,AUTO
25187,0,12/10/2009,OTHER,2008,1,DODGE,NITRO 4WD V6,SXT,4D SUV 3.7L SE,WHITE,...,MS,9745.0,0,983,0,1,0,1,11.320153,AUTO
38009,0,10/23/2009,MANHEIM,2006,3,HYUNDAI,ELANTRA 2.0L I4 MPI,GLS,4D SEDAN,SILVER,...,NV,5705.0,0,482,0,1,0,1,10.715484,AUTO
69980,0,2/17/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,SILVER,...,AZ,9655.0,0,825,0,1,0,1,11.063869,AUTO
69990,0,2/24/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,BLACK,...,AZ,9955.0,0,825,0,1,0,1,11.028368,AUTO

In [48]:
# 차량 크기
lemon['차량크기'].unique(), lemon.groupby(['차량크기']).size(), lemon.groupby(['차량크기'], dropna=False)['lemon'].mean()

(array(['MEDIUM', 'LARGE TRUCK', 'COMPACT', 'LARGE', 'VAN', 'MEDIUM SUV',
        'LARGE SUV', 'SPECIALTY', 'SPORTS', 'CROSSOVER', 'SMALL SUV',
        'SMALL TRUCK', nan], dtype=object),
 차량크기
 COMPACT         7205
 CROSSOVER       1759
 LARGE           8850
 LARGE SUV       1433
 LARGE TRUCK     3170
 MEDIUM         30785
 MEDIUM SUV      8090
 SMALL SUV       2276
 SMALL TRUCK      864
 SPECIALTY       1915
 SPORTS           777
 VAN             5854
 dtype: int64,
 차량크기
 COMPACT        0.158917
 CROSSOVER      0.104036
 LARGE          0.092429
 LARGE SUV      0.161898
 LARGE TRUCK    0.113565
 MEDIUM         0.115024
 MEDIUM SUV     0.147466
 SMALL SUV      0.137522
 SMALL TRUCK    0.144676
 SPECIALTY      0.091906
 SPORTS         0.185328
 VAN            0.127434
 NaN            0.000000
 Name: lemon, dtype: float64)

In [ ]:
cols1 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '운행거리_로그변환', '변속기_std', ]
# ['변속기','차량크기','구매주','온라인판매여부','생산국가','색상']
lemon_rf2 = lemon[cols1]
lemon_rf2

,lemon,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환,변속기
ID,,,,,,,
1,0,0,1,0,1,11.396920,AUTO
2,0,0,1,0,1,11.446722,AUTO
3,0,0,1,0,1,11.209222,AUTO
4,0,0,1,0,1,11.091605,AUTO
5,0,0,1,0,1,11.147181,MANUAL
...,...,...,...,...,...,...,...
73010,1,0,1,0,1,10.719626,AUTO
73011,0,0,1,0,1,11.181082,AUTO
73012,0,0,1,0,1,11.390769,AUTO
73013,0,0,1,0,1,11.284204,AUTO
73014,0,0,1,0,1,11.110296,AUTO