In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

In [10]:
import os
os.getcwd()
os.chdir(r'C:\Users\siwoo\Downloads\5주차 강의코드데이터-20260127')

lemon = pd.read_csv('lemon.csv', encoding='euc-kr', index_col='ID')
 
lemon.head()

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,현재평균상태소매가격,현재평균이상상태소매가격,프리미엄여부,차량보증,구매자ID,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [11]:

lemon['프리미엄_yes'] = (lemon['프리미엄여부'] == 'YES').astype(int)
lemon['프리미엄_missing'] = (lemon['프리미엄여부'].isna()).astype(int)
lemon['차량보증_red'] = (lemon['차량보증'] == 'RED').astype(int)
lemon['차량보증_missing'] = (lemon['차량보증'].isna()).astype(int)
lemon['운행거리_로그변환'] = np.log1p(lemon['운행거리'])

lemon

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,33619,FL,7100.0,0,1113,0,1,0,1,11.396920
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,33619,FL,7600.0,0,1053,0,1,0,1,11.446722
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,33619,FL,4900.0,0,1389,0,1,0,1,11.209222
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,33619,FL,4100.0,0,630,0,1,0,1,11.091605
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,33619,FL,4000.0,0,1020,0,1,0,1,11.147181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,...,30212,GA,4200.0,0,993,0,1,0,1,10.719626
73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,...,30212,GA,6200.0,0,1038,0,1,0,1,11.181082
73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,...,30212,GA,8200.0,0,1893,0,1,0,1,11.390769
73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,...,30212,GA,7000.0,0,1974,0,1,0,1,11.284204
73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,...,30212,GA,8000.0,0,1313,0,1,0,1,11.110296

## 범주형 추가!!

In [12]:
# 변속기 
lemon['변속기'].unique()

array(['AUTO', 'MANUAL', nan, 'Manual'], dtype=object)

In [13]:
# lemon.loc[(lemon['변속기'] == 'Manual'), :] 
# lemon.loc[(lemon['변속기'] == 'Manual'), ['변속기']] = 'MANUAL'

(lemon['변속기'] == 'Manual').sum()

#### 원본 보존하고 만드는
lemon['변속기_std'] = lemon['변속기'].replace({'Manual': 'MANUAL'})

lemon.groupby(['변속기_std'], dropna=False)['lemon'].mean()

변속기_std
AUTO      0.123242
MANUAL    0.116071
NaN       0.111111
Name: lemon, dtype: float64

In [29]:
lemon['변속기'].isna().sum()

lemon.loc[lemon['변속기'].isna(), ['변속기']] = 'AUTO'

lemon['변속기'].isna().sum()

np.int64(0)

In [ ]:
lemon['변속기_std'] = (lemon['변속기'] == 'MANUAL').astype(int)
lemon['변속기_std'].count()

np.int64(72983)

In [57]:
lemon['변속기_std'].value_counts()

변속기_std
0    70408
1     2575
Name: count, dtype: int64

In [53]:
lemon['온라인판매여부'].isna().sum(), lemon['온라인판매여부'].value_counts()

(np.int64(0),
 온라인판매여부
 0    71138
 1     1845
 Name: count, dtype: int64)

In [52]:
lemon.groupby(['온라인판매여부'], dropna=False)['lemon'].mean()

온라인판매여부
0    0.123183
1    0.115447
Name: lemon, dtype: float64

In [56]:
lemon['온라인판매여부'].value_counts()

온라인판매여부
0    71138
1     1845
Name: count, dtype: int64

In [100]:
lemon.loc[lemon['차량크기'].isna(),: ]

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,구매주,취득비용,온라인판매여부,보증금액,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환,변속기_std
ID,,,,,,,,,,,,,,,,,,,,,
10897,0,10/19/2009,MANHEIM,2002,7,GMC,SIERRA 1500,SL,BASE,WHITE,...,NC,7500.0,0,1455,0,1,0,1,11.268162,0
25187,0,12/10/2009,OTHER,2008,1,DODGE,NITRO 4WD V6,SXT,4D SUV 3.7L SE,WHITE,...,MS,9745.0,0,983,0,1,0,1,11.320153,0
38009,0,10/23/2009,MANHEIM,2006,3,HYUNDAI,ELANTRA 2.0L I4 MPI,GLS,4D SEDAN,SILVER,...,NV,5705.0,0,482,0,1,0,1,10.715484,0
69980,0,2/17/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,SILVER,...,AZ,9655.0,0,825,0,1,0,1,11.063869,0
69990,0,2/24/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,BLACK,...,AZ,9955.0,0,825,0,1,0,1,11.028368,0

In [107]:
idx = lemon.index[lemon['차량크기'].isna()]


lemon.loc[idx[0], '차량크기'] = 'LARGE TRUCK'
lemon.loc[idx[1], '차량크기'] = 'MEDIUM SUV'
lemon.loc[idx[2], '차량크기'] = 'COMPACT'
lemon.loc[idx[3], '차량크기'] = 'SMALL SUV'
lemon.loc[idx[4], '차량크기'] = 'SMALL SUV'

# idx = lemon.index[lemon['차량크기'].isna()][:5]
# idx_values = ['LARGE TRUCK', 'MEDIUM SUV', 'COMPACT', 'SMALL SUV', 'SMALL SUV']

# lemon.loc[idx, '차량크기'] = idx_values

In [108]:
lemon.loc[lemon['차량크기'].isna()]

Empty DataFrame
Columns: [lemon, 구매일자, 판매처, 연식, 차량연령, 제조사, 모델명, 트림, 세부모델명, 색상, 변속기, 휠타입ID, 휠타입명, 운행거리, 생산국가, 차량크기, 미국제조사명, 구매당시평균상태차량가격, 구매당시평균이상상태차량가격, 구매당시평균상태소매가격, 구매당시평균이상상태소매가격, 현재평균상태가격, 현재평균이상상태가격, 현재평균상태소매가격, 현재평균이상상태소매가격, 프리미엄여부, 차량보증, 구매자ID, 구매지우편번호, 구매주, 취득비용, 온라인판매여부, 보증금액, 프리미엄_yes, 프리미엄_missing, 차량보증_red, 차량보증_missing, 운행거리_로그변환, 변속기_std]
Index: []

[0 rows x 39 columns]

In [112]:
# 차량 크기
lemon['차량크기'].unique(), lemon.groupby(['차량크기']).size(), 
lemon.groupby(['차량크기'], dropna=False)['lemon'].mean()

차량크기
COMPACT        0.158895
CROSSOVER      0.104036
LARGE          0.092429
LARGE SUV      0.161898
LARGE TRUCK    0.113529
MEDIUM         0.115024
MEDIUM SUV     0.147448
SMALL SUV      0.137401
SMALL TRUCK    0.144676
SPECIALTY      0.091906
SPORTS         0.185328
VAN            0.127434
Name: lemon, dtype: float64

In [63]:
# cols2 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '운행거리_로그변환', '변속기_std', '온라인판매여부' ]
cols2 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부' ]
# ['차량크기','구매주','생산국가','색상']
lemon_rf2 = lemon[cols2]
lemon_rf2

       lemon  프리미엄_yes  프리미엄_missing  차량보증_red  차량보증_missing  변속기_std  온라인판매여부
ID
1          0         0             1         0             1        0        0
2          0         0             1         0             1        0        0
3          0         0             1         0             1        0        0
4          0         0             1         0             1        0        0
5          0         0             1         0             1        1        0
...      ...       ...           ...       ...           ...      ...      ...
73010      1         0             1         0             1        0        0
73011      0         0             1         0             1        0        0
73012      0         0             1         0             1        0        0
73013      0         0             1         0             1        0        0
73014      0         0             1         0             1        0        0

[72983 rows x 7 columns]

In [64]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, f1_score, classification_report, confusion_matrix

In [65]:

y = lemon_rf2['lemon']
x = lemon_rf2.drop(columns=['lemon'])

x_train, x_valid, y_train, y_valid = train_test_split(
    x, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [ ]:

# 1) 결측치 처리(중앙값) - train 기준으로!
medians = x_train.median(numeric_only=True)

x_train2 = x_train.fillna(medians)
x_valid2 = x_valid.fillna(medians)

# 2) 모델 학습
rf = RandomForestClassifier(
    n_estimators=400,
    random_state=42,
    class_weight="balanced",
    n_jobs=-1
)
rf.fit(x_train2, y_train)

# 3) 평가
proba = rf.predict_proba(x_valid2)[:, 1]
pred = (proba >= 0.4).astype(int)

print("ROC-AUC:", roc_auc_score(y_valid, proba))
print("F1:", f1_score(y_valid, pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_valid, pred))
print("\nReport:\n", classification_report(y_valid, pred, digits=4))

# 4) 피처 중요도
import pandas as pd
imp = pd.Series(rf.feature_importances_, index=x_train2.columns).sort_values(ascending=False)
print(imp)

ROC-AUC: 0.523381727002092
F1: 0.2251258843775894

Confusion Matrix:
 [[  674 12128]
 [   29  1766]]

Report:
               precision    recall  f1-score   support

           0     0.9587    0.0526    0.0998     12802
           1     0.1271    0.9838    0.2251      1795

    accuracy                         0.1672     14597
   macro avg     0.5429    0.5182    0.1625     14597
weighted avg     0.8565    0.1672    0.1152     14597

프리미엄_missing    0.474680
차량보증_missing    0.442516
변속기_std         0.027875
온라인판매여부         0.021196
프리미엄_yes        0.019347
차량보증_red        0.014386
dtype: float64

In [76]:
proba.min(), proba.max(), np.quantile(proba, [0.5, 0.9, 0.95, 0.99])

(np.float64(0.0),
 np.float64(0.6457541244642271),
 array([0.50989783, 0.50989783, 0.50989783, 0.50989783]))