In [549]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

In [550]:
import os
os.getcwd()
# os.chdir(r'C:\Users\siwoo\Downloads\5주차 강의코드데이터-20260127')
os.chdir(r'/Users/siwoolchoi/Desktop/siwooly/대학원/머신러닝/class/5주차 강의코드데이터-20260124/')

lemon = pd.read_csv('lemon.csv', encoding='euc-kr', index_col='ID')
 
lemon.head()

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,현재평균상태소매가격,현재평균이상상태소매가격,프리미엄여부,차량보증,구매자ID,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [551]:

lemon['프리미엄_yes'] = (lemon['프리미엄여부'] == 'YES').astype(int)
lemon['프리미엄_missing'] = (lemon['프리미엄여부'].isna()).astype(int)
lemon['차량보증_red'] = (lemon['차량보증'] == 'RED').astype(int)
lemon['차량보증_missing'] = (lemon['차량보증'].isna()).astype(int)
lemon['운행거리_로그변환'] = np.log1p(lemon['운행거리'])

lemon

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,운행거리_로그변환
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,33619,FL,7100.0,0,1113,0,1,0,1,11.396920
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,33619,FL,7600.0,0,1053,0,1,0,1,11.446722
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,33619,FL,4900.0,0,1389,0,1,0,1,11.209222
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,33619,FL,4100.0,0,630,0,1,0,1,11.091605
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,33619,FL,4000.0,0,1020,0,1,0,1,11.147181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,...,30212,GA,4200.0,0,993,0,1,0,1,10.719626
73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,...,30212,GA,6200.0,0,1038,0,1,0,1,11.181082
73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,...,30212,GA,8200.0,0,1893,0,1,0,1,11.390769
73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,...,30212,GA,7000.0,0,1974,0,1,0,1,11.284204
73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,...,30212,GA,8000.0,0,1313,0,1,0,1,11.110296

## 범주형 추가!!

In [552]:
# 변속기 
lemon['변속기'].unique()

array(['AUTO', 'MANUAL', nan, 'Manual'], dtype=object)

In [553]:
# lemon.loc[(lemon['변속기'] == 'Manual'), :] 
# lemon.loc[(lemon['변속기'] == 'Manual'), ['변속기']] = 'MANUAL'

(lemon['변속기'] == 'Manual').sum()

#### 원본 보존하고 만드는
lemon['변속기_std'] = lemon['변속기'].replace({'Manual': 'MANUAL'})

lemon.groupby(['변속기_std'], dropna=False)['lemon'].mean()

변속기_std
AUTO      0.123242
MANUAL    0.116071
NaN       0.111111
Name: lemon, dtype: float64

In [554]:
lemon['변속기'].isna().sum()

lemon.loc[lemon['변속기'].isna(), ['변속기']] = 'AUTO'

lemon['변속기'].isna().sum()

np.int64(0)

In [555]:
lemon['변속기_std'] = (lemon['변속기'] == 'MANUAL').astype(int)
lemon['변속기_std'].count()

np.int64(72983)

In [556]:
lemon['변속기_std'].value_counts()

변속기_std
0    70408
1     2575
Name: count, dtype: int64

In [557]:
lemon['온라인판매여부'].isna().sum(), lemon['온라인판매여부'].value_counts()

(np.int64(0),
 온라인판매여부
 0    71138
 1     1845
 Name: count, dtype: int64)

In [558]:
lemon.groupby(['온라인판매여부'], dropna=False)['lemon'].mean()

온라인판매여부
0    0.123183
1    0.115447
Name: lemon, dtype: float64

In [559]:
lemon['온라인판매여부'].value_counts()

온라인판매여부
0    71138
1     1845
Name: count, dtype: int64

## 판매처 / 생산국가

**판매처 원-핫 인코딩**

In [560]:
lemon['판매처'].unique()
lemon['판매처'].isna().sum()
lemon['판매처'].value_counts() , lemon['판매처'].size , lemon.groupby('판매처')['lemon'].mean()

(판매처
 MANHEIM    41043
 OTHER      17501
 ADESA      14439
 Name: count, dtype: int64,
 72983,
 판매처
 ADESA      0.151880
 MANHEIM    0.114880
 OTHER      0.118165
 Name: lemon, dtype: float64)

In [561]:
lemon['판매처_A'] = (lemon['판매처'] == 'ADESA').astype(int)
lemon['판매처_A'].sum()

lemon['판매처_M'] = (lemon['판매처'] == 'MANHEIM').astype(int)
lemon['판매처_M'].sum()

lemon['판매처_Other'] = (lemon['판매처'] == '').astype(int)
lemon['판매처_Other'].sum()

np.int64(0)

**생산국가 원-핫 인코딩**

In [562]:
lemon['생산국가'].value_counts() , lemon['생산국가'].unique()

(생산국가
 AMERICAN          61028
 OTHER ASIAN        8033
 TOP LINE ASIAN     3722
 OTHER               195
 Name: count, dtype: int64,
 array(['OTHER ASIAN', 'AMERICAN', 'TOP LINE ASIAN', 'OTHER', nan],
       dtype=object))

In [563]:
# xy = lemon.index[lemon['생산국가'].isna()]
# xy
# lemon.loc[xy[0], '생산국가'] = 'OTHER ASIAN'
# lemon.loc[xy[1], '생산국가'] = 'OTHER ASIAN'
# lemon.loc[xy[2], '생산국가'] = 'OTHER ASIAN'
# lemon.loc[xy[3], '생산국가'] = 'OTHER ASIAN'
# lemon.loc[xy[4], '생산국가'] = 'OTHER ASIAN'

# xyy = lemon.index[lemon['생산국가'] == 'OTHER']

# lemon.loc[xyy[:], '생산국가'] = 'OTHER ASIAN'

lemon.groupby(['생산국가'])['lemon'].mean()

생산국가
AMERICAN          0.121043
OTHER             0.138462
OTHER ASIAN       0.132080
TOP LINE ASIAN    0.134605
Name: lemon, dtype: float64

In [564]:
lemon['생산국가_A'] = (lemon['생산국가'] == 'AMERICAN').astype(int)
lemon['생산국가_OA'] = (lemon['생산국가'] == 'OTHER ASIAN').astype(int)
lemon['생산국가_TA'] = (lemon['생산국가'] == 'TOP LINE ASIAN').astype(int)

In [565]:
# 차량 크기 null 값 채우기

lemon.loc[lemon['차량크기'].isna(),: ]

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,차량보증_red,차량보증_missing,운행거리_로그변환,변속기_std,판매처_A,판매처_M,판매처_Other,생산국가_A,생산국가_OA,생산국가_TA
ID,,,,,,,,,,,,,,,,,,,,,
10897,0,10/19/2009,MANHEIM,2002,7,GMC,SIERRA 1500,SL,BASE,WHITE,...,0,1,11.268162,0,0,1,0,0,0,0
25187,0,12/10/2009,OTHER,2008,1,DODGE,NITRO 4WD V6,SXT,4D SUV 3.7L SE,WHITE,...,0,1,11.320153,0,0,0,0,0,0,0
38009,0,10/23/2009,MANHEIM,2006,3,HYUNDAI,ELANTRA 2.0L I4 MPI,GLS,4D SEDAN,SILVER,...,0,1,10.715484,0,0,1,0,0,0,0
69980,0,2/17/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,SILVER,...,0,1,11.063869,0,1,0,0,0,0,0
69990,0,2/24/2010,ADESA,2008,2,JEEP,PATRIOT 2WD 4C,Spo,4D SUV SPORT,BLACK,...,0,1,11.028368,0,1,0,0,0,0,0

In [566]:
idx = lemon.index[lemon['차량크기'].isna()]


lemon.loc[idx[0], '차량크기'] = 'LARGE TRUCK'
lemon.loc[idx[1], '차량크기'] = 'MEDIUM SUV'
lemon.loc[idx[2], '차량크기'] = 'COMPACT'
lemon.loc[idx[3], '차량크기'] = 'SMALL SUV'
lemon.loc[idx[4], '차량크기'] = 'SMALL SUV'

# idx = lemon.index[lemon['차량크기'].isna()][:5]
# idx_values = ['LARGE TRUCK', 'MEDIUM SUV', 'COMPACT', 'SMALL SUV', 'SMALL SUV']

# lemon.loc[idx, '차량크기'] = idx_values

In [567]:
lemon.loc[lemon['차량크기'].isna()]

Empty DataFrame
Columns: [lemon, 구매일자, 판매처, 연식, 차량연령, 제조사, 모델명, 트림, 세부모델명, 색상, 변속기, 휠타입ID, 휠타입명, 운행거리, 생산국가, 차량크기, 미국제조사명, 구매당시평균상태차량가격, 구매당시평균이상상태차량가격, 구매당시평균상태소매가격, 구매당시평균이상상태소매가격, 현재평균상태가격, 현재평균이상상태가격, 현재평균상태소매가격, 현재평균이상상태소매가격, 프리미엄여부, 차량보증, 구매자ID, 구매지우편번호, 구매주, 취득비용, 온라인판매여부, 보증금액, 프리미엄_yes, 프리미엄_missing, 차량보증_red, 차량보증_missing, 운행거리_로그변환, 변속기_std, 판매처_A, 판매처_M, 판매처_Other, 생산국가_A, 생산국가_OA, 생산국가_TA]
Index: []

[0 rows x 45 columns]

In [568]:
# 차량 크기
lemon['차량크기'].unique(), lemon.groupby(['차량크기']).size(), 
lemon.groupby(['차량크기'], dropna=False)['lemon'].mean()

차량크기
COMPACT        0.158895
CROSSOVER      0.104036
LARGE          0.092429
LARGE SUV      0.161898
LARGE TRUCK    0.113529
MEDIUM         0.115024
MEDIUM SUV     0.147448
SMALL SUV      0.137401
SMALL TRUCK    0.144676
SPECIALTY      0.091906
SPORTS         0.185328
VAN            0.127434
Name: lemon, dtype: float64

**조합 : 프리미엄missing X 판매처_A / 차량보증_missing X 판매처M**

In [569]:
lemon['프리미엄miss_판매처A'] = lemon["판매처_A"] * lemon["프리미엄_missing"]
lemon['차량보증miss_판매처M'] = lemon["판매처_M"] * lemon["차량보증_missing"]

**조합 : 프리미엄missing X 생산국가_A / 차량보증_missing X 생산국가_TA(요거안씀)**

In [570]:
lemon['프리미엄miss_생산국가A'] = lemon["생산국가_A"] * lemon["프리미엄_missing"]
# lemon['차량보증miss_생산국가TA'] = lemon["생산국가_TA"] * lemon["차량보증_missing"]

In [571]:
# cols2 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '운행거리_로그변환', '변속기_std', '온라인판매여부' ]
# cols2 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부' ]
# cols3 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부', '판매처_A', '판매처_M', '판매처_Other' ]
# cols4 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부', '판매처_A', '판매처_M', '판매처_Other', '생산국가_A', '생산국가_OA', '생산국가_TA']
# cols5 = ['lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부', '판매처_A', '판매처_M', '판매처_Other', '생산국가_A', '생산국가_OA', '생산국가_TA', '프리미엄miss_판매처A', '차량보증miss_판매처M']
cols6 = [ '구매지우편번호','차량크기','제조사', '프리미엄miss_생산국가A','lemon', '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '변속기_std', '온라인판매여부', '판매처_A', '판매처_M', '판매처_Other', '생산국가_A', '생산국가_OA', '생산국가_TA', '프리미엄miss_판매처A', '차량보증miss_판매처M']


# ['차량크기','구매주','생산국가','색상']
# ['차량크기','구매주','생산국가','색상']
lemon_rf3 = lemon[cols6]
lemon_rf3

,구매지우편번호,차량크기,제조사,프리미엄miss_생산국가A,lemon,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,변속기_std,온라인판매여부,판매처_A,판매처_M,판매처_Other,생산국가_A,생산국가_OA,생산국가_TA,프리미엄miss_판매처A,차량보증miss_판매처M
ID,,,,,,,,,,,,,,,,,,,
1,33619,MEDIUM,MAZDA,0,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0
2,33619,LARGE TRUCK,DODGE,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
3,33619,MEDIUM,DODGE,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
4,33619,COMPACT,DODGE,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
5,33619,COMPACT,FORD,1,0,0,1,0,1,1,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,30212,MEDIUM,MERCURY,1,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0
73011,30212,MEDIUM,CHEVROLET,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
73012,30212,MEDIUM SUV,JEEP,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
73013,30212,LARGE,CHEVROLET,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
73014,30212,MEDIUM,MAZDA,0,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0

In [572]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, f1_score, classification_report, confusion_matrix

In [573]:

y = lemon_rf3['lemon']
x = lemon_rf3.drop(columns=['lemon'])

x_train, x_valid, y_train, y_valid = train_test_split(
    x, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

**train/valid split 후, binary encoding / mean encoding**

In [574]:
train_categories =  x_train['제조사'].unique()

In [575]:
# 제조사 값 별로 정수 치환

COL = '제조사'

train_cats = x_train[COL].astype("string").str.strip().unique()

train_cat = pd.Categorical(x_train[COL].astype("string").str.strip(), categories=train_cats)
valid_cat = pd.Categorical(x_valid[COL].astype("string").str.strip(), categories=train_cats)


train_codes = train_cat.codes
valid_codes = valid_cat.codes

In [576]:
# 정수를 바이너리 코드로 변경

import numpy as np
import pandas as pd

COL = "제조사"  # 원본 컬럼명

# 1) 비트 수 계산 (제조사 고유값 개수 기준)
n_unique = len(train_cats)   # 너가 이미 만든 train_cats 사용
n_bits = int(np.ceil(np.log2(n_unique)))  # 필요한 비트 수

# 2) train_codes / valid_codes -> 바이너리 컬럼 생성
train_bin = pd.DataFrame(
    {f"{COL}_b{i}": ((train_codes >> i) & 1) for i in range(n_bits)},
    index=x_train.index
)

valid_bin = pd.DataFrame(
    {f"{COL}_b{i}": ((valid_codes >> i) & 1) for i in range(n_bits)},
    index=x_valid.index
)

# 3) 원본 컬럼 제거 + 바이너리 컬럼 붙이기
x_train = pd.concat([x_train.drop(columns=[COL]), train_bin], axis=1)
x_valid = pd.concat([x_valid.drop(columns=[COL]), valid_bin], axis=1)

In [577]:
print(train_bin.shape, valid_bin.shape)
print([c for c in x_train.columns if c.startswith(f"{COL}_b")])

(58386, 6) (14597, 6)
['제조사_b0', '제조사_b1', '제조사_b2', '제조사_b3', '제조사_b4', '제조사_b5']


**차량크기-one-hot Encoding**

In [578]:
import pandas as pd

COL3 = "차량크기"

def norm(s):
    return (
        s.astype("string")
         .str.strip()
         .str.replace(r"\s+", " ", regex=True)
    )

train_cats3 = norm(x_train[COL3]).unique()

x_train_cat3 = pd.Categorical(norm(x_train[COL3]), categories=train_cats3)
x_valid_cat3 = pd.Categorical(norm(x_valid[COL3]), categories=train_cats3)

train_oh = pd.get_dummies(x_train_cat3, prefix=COL3, dummy_na=True).astype("uint8")
valid_oh = pd.get_dummies(x_valid_cat3, prefix=COL3, dummy_na=True).astype("uint8")

# ★ 인덱스 정렬 핵심
train_oh.index = x_train.index
valid_oh.index = x_valid.index

x_train = pd.concat([x_train.drop(columns=[COL3]), train_oh], axis=1)
x_valid = pd.concat([x_valid.drop(columns=[COL3]), valid_oh], axis=1)

x_valid = x_valid.reindex(columns=x_train.columns, fill_value=0)

assert x_train.shape[0] == y_train.shape[0]
assert x_valid.shape[0] == y_valid.shape[0]

**구매지우편번호-Mean Encoding**

In [579]:
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold

COL2 = "구매지우편번호"

def norm_zip(s: pd.Series) -> pd.Series:
    return s.astype("string").str.strip()

def make_oof_target_encoding(X: pd.DataFrame, y: pd.Series, col: str,
                            m: float = 20.0, n_splits: int = 5, seed: int = 42) -> pd.Series:
    X = X.copy()
    y = y.copy()
    global_mean = y.mean()

    oof = pd.Series(index=X.index, dtype="float64", name=f"{col}_te")
    skf = StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=seed)

    for fit_idx, hold_idx in skf.split(X, y):
        X_fit = X.iloc[fit_idx]
        y_fit = y.iloc[fit_idx]

        stats = y_fit.groupby(X_fit[col]).agg(["sum", "count"])
        enc_map = (stats["sum"] + m * global_mean) / (stats["count"] + m)

        oof.iloc[hold_idx] = (
            X.iloc[hold_idx][col]
            .map(enc_map)
            .fillna(global_mean)
            .astype(float)
        )

    return oof

# --- 안전하게 copy로 작업(원본 x_train/x_valid 꼬임 방지) ---
Xtr = x_train.copy()
Xva = x_valid.copy()
ytr = y_train.copy()

# 1) 컬럼 존재 체크 (여기서 False면 이미 drop했거나 이름이 다름)
if COL2 not in Xtr.columns or COL2 not in Xva.columns:
    raise KeyError(f"{COL2} 컬럼이 x_train/x_valid 중 하나에 없습니다. "
                   f"train_has={COL2 in Xtr.columns}, valid_has={COL2 in Xva.columns}")

# 2) 정규화
Xtr.loc[:, COL2] = norm_zip(Xtr[COL2])
Xva.loc[:, COL2] = norm_zip(Xva[COL2])

# 3) train OOF TE 생성
Xtr[f"{COL2}_te"] = make_oof_target_encoding(Xtr, ytr, COL2, m=20.0, n_splits=5)

# 4) valid TE 생성 (train 전체 map으로)
global_mean = ytr.mean()
stats_all = ytr.groupby(Xtr[COL2]).agg(["sum", "count"])
enc_map_all = (stats_all["sum"] + 20.0 * global_mean) / (stats_all["count"] + 20.0)

Xva[f"{COL2}_te"] = Xva[COL2].map(enc_map_all).fillna(global_mean).astype(float)

# 5) 원본 우편번호 drop (둘 다)
Xtr = Xtr.drop(columns=[COL2])
Xva = Xva.drop(columns=[COL2])

# 6) 컬럼 싱크 강제 (fit/predict feature mismatch 방지)
Xva = Xva.reindex(columns=Xtr.columns)

# 7) 이후 RF 코드에서 x_train/x_valid 대신 Xtr/Xva를 사용
x_train = Xtr
x_valid = Xva

/var/folders/57/tvb9m9bs7vb1zpsxxct15zn80000gn/T/ipykernel_5389/1978228885.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<StringArray>
['84104', '27542', '85009', '33619', '92337', '95673', '85226', '78754',
 '37210', '78754',
 ...
 '29697', '29532', '74135', '33619', '80022', '76040', '33619', '78754',
 '29532', '92057']
Length: 58386, dtype: string' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Xtr.loc[:, COL2] = norm_zip(Xtr[COL2])
/var/folders/57/tvb9m9bs7vb1zpsxxct15zn80000gn/T/ipykernel_5389/1978228885.py:47: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<StringArray>
['27542', '33314', '74135', '37122', '95673', '33619',  '8505', '28273',
 '45005', '30272',
 ...
 '74135', '78754', '85226', '27407', '30272', '92504', '84104', '46803',
 '28273', '32824']
Length: 14597, dtype: string' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Xva.loc[:, COL2] = norm_zip(Xva[COL2])

In [580]:

x_train['우편_판매처A'] = x_train['구매지우편번호_te'] * x_train['판매처_A']

x_train['우편_판매처M'] = x_train['구매지우편번호_te'] * x_train['판매처_M']

x_valid['우편_판매처A'] = x_valid['구매지우편번호_te'] * x_valid['판매처_A']

x_valid['우편_판매처M'] = x_valid['구매지우편번호_te'] * x_valid['판매처_M']

x_valid = x_valid.reindex(columns=x_train.columns)

In [581]:
x_train['우편_생산국가A'] = x_train['구매지우편번호_te'] * x_train['생산국가_A']

x_train['우편_생산국가TA'] = x_train['구매지우편번호_te'] * x_train['생산국가_TA']

x_valid['우편_생산국가A'] = x_valid['구매지우편번호_te'] * x_valid['생산국가_A']

x_valid['우편_생산국가TA'] = x_valid['구매지우편번호_te'] * x_valid['생산국가_TA']

x_valid = x_valid.reindex(columns=x_train.columns)

In [595]:
col_1 =['제조사_b5','차량크기_<NA>','판매처_Other']
x_train = x_train.drop(columns=col_1)
x_valid = x_valid.drop(columns=col_1)
x_valid = x_valid.reindex(columns=x_train.columns)

x_train

,프리미엄miss_생산국가A,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,변속기_std,온라인판매여부,판매처_A,판매처_M,생산국가_A,...,차량크기_LARGE,차량크기_SPECIALTY,차량크기_LARGE SUV,차량크기_SPORTS,차량크기_SMALL SUV,구매지우편번호_te,우편_판매처A,우편_판매처M,우편_생산국가A,우편_생산국가TA
ID,,,,,,,,,,,,,,,,,,,,,
11980,1,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0.118419,0.000000,0.000000,0.118419,0.0
8091,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0.098935,0.000000,0.098935,0.000000,0.0
49697,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0.158980,0.000000,0.000000,0.158980,0.0
41787,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.106685,0.000000,0.106685,0.106685,0.0
59469,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.214081,0.000000,0.214081,0.214081,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22585,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0.126921,0.000000,0.126921,0.126921,0.0
41834,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0.106039,0.000000,0.106039,0.106039,0.0
67823,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0.158561,0.158561,0.000000,0.000000,0.0
40679,1,0,1,0,1,0,0,0,1,1,...,0,0,1,0,0,0.123669,0.000000,0.123669,0.123669,0.0
57114,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.150720,0.000000,0.150720,0.150720,0.0

In [596]:

# 1) 결측치 처리(중앙값) - train 기준으로!
medians = x_train.median(numeric_only=True)

x_train2 = x_train.fillna(medians)
x_valid2 = x_valid.fillna(medians)

# 2) 모델 학습
rf = RandomForestClassifier(
    n_estimators=400,
    random_state=42,
    class_weight="balanced",
    # class_weight=None,
    n_jobs=-1,
    max_depth = 10
)
rf.fit(x_train2, y_train)

# 3) 평가
proba = rf.predict_proba(x_valid2)[:, 1]
pred = (proba >= 0.5).astype(int)

print("ROC-AUC:", roc_auc_score(y_valid, proba))
print("F1:", f1_score(y_valid, pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_valid, pred))
print("\nReport:\n", classification_report(y_valid, pred, digits=4))

# 4) 피처 중요도
import pandas as pd
imp = pd.Series(rf.feature_importances_, index=x_train2.columns).sort_values(ascending=False)
print(imp)

ROC-AUC: 0.6171052442624085
F1: 0.2553030303030303

Confusion Matrix:
 [[7688 5114]
 [ 784 1011]]

Report:
               precision    recall  f1-score   support

           0     0.9075    0.6005    0.7228     12802
           1     0.1651    0.5632    0.2553      1795

    accuracy                         0.5959     14597
   macro avg     0.5363    0.5819    0.4890     14597
weighted avg     0.8162    0.5959    0.6653     14597

구매지우편번호_te          0.256881
우편_생산국가A            0.152754
우편_판매처M             0.078280
우편_판매처A             0.054422
차량보증_missing        0.047388
프리미엄_missing        0.046675
제조사_b2              0.027694
차량크기_LARGE          0.026434
우편_생산국가TA           0.024829
차량크기_COMPACT        0.023665
제조사_b0              0.022048
제조사_b3              0.020016
제조사_b1              0.018082
차량크기_MEDIUM         0.017207
차량크기_MEDIUM SUV     0.016505
변속기_std             0.015415
프리미엄miss_생산국가A      0.014088
프리미엄miss_판매처A       0.013355
생산국가_A              0.011036
판매처_A               0.010409
차량보증miss_판매처M       0.010277
제조사_b4              0.009877
차량크기_SPECIALTY      0.009670
판매처_M               0.009338
온라인판매여부             0.008945
생산국가_OA             0.007607
생산국가_TA             0.006861
차량크기_LARGE TRUCK    0.006248
차량크기_VAN            0.006021
차량크기_CROSSOVER      0.005768
차량크기_LARGE SUV      0.005092
차량크기_SMALL SUV      0.004937
차량크기_SPORTS         0.004731
차량크기_SMALL TRUCK    0.004017
차량보증_red            0.001810
프리미엄_yes            0.001617
dtype: float64

In [597]:
x_train.columns

Index(['프리미엄miss_생산국가A', '프리미엄_yes', '프리미엄_missing', '차량보증_red',
       '차량보증_missing', '변속기_std', '온라인판매여부', '판매처_A', '판매처_M', '생산국가_A',
       '생산국가_OA', '생산국가_TA', '프리미엄miss_판매처A', '차량보증miss_판매처M', '제조사_b0',
       '제조사_b1', '제조사_b2', '제조사_b3', '제조사_b4', '차량크기_CROSSOVER',
       '차량크기_MEDIUM SUV', '차량크기_VAN', '차량크기_SMALL TRUCK', '차량크기_LARGE TRUCK',
       '차량크기_MEDIUM', '차량크기_COMPACT', '차량크기_LARGE', '차량크기_SPECIALTY',
       '차량크기_LARGE SUV', '차량크기_SPORTS', '차량크기_SMALL SUV', '구매지우편번호_te',
       '우편_판매처A', '우편_판매처M', '우편_생산국가A', '우편_생산국가TA'],
      dtype='object')

In [598]:
rf.get_params()['max_depth']

10

In [599]:
proba.min(), proba.max(), np.quantile(proba, [0.5, 0.9, 0.95, 0.99])

(np.float64(0.033789087973799065),
 np.float64(0.7380251792296053),
 array([0.47327328, 0.58902258, 0.61530287, 0.67567482]))

In [601]:
lemon.columns

Index(['lemon', '구매일자', '판매처', '연식', '차량연령', '제조사', '모델명', '트림', '세부모델명', '색상',
       '변속기', '휠타입ID', '휠타입명', '운행거리', '생산국가', '차량크기', '미국제조사명',
       '구매당시평균상태차량가격', '구매당시평균이상상태차량가격', '구매당시평균상태소매가격', '구매당시평균이상상태소매가격',
       '현재평균상태가격', '현재평균이상상태가격', '현재평균상태소매가격', '현재평균이상상태소매가격', '프리미엄여부',
       '차량보증', '구매자ID', '구매지우편번호', '구매주', '취득비용', '온라인판매여부', '보증금액',
       '프리미엄_yes', '프리미엄_missing', '차량보증_red', '차량보증_missing', '운행거리_로그변환',
       '변속기_std', '판매처_A', '판매처_M', '판매처_Other', '생산국가_A', '생산국가_OA',
       '생산국가_TA', '프리미엄miss_판매처A', '차량보증miss_판매처M', '프리미엄miss_생산국가A'],
      dtype='object')

In [602]:
x_valid_sync = x_valid.reindex(columns=x_train.columns)


x_valid_sync

,프리미엄miss_생산국가A,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,변속기_std,온라인판매여부,판매처_A,판매처_M,생산국가_A,...,차량크기_LARGE,차량크기_SPECIALTY,차량크기_LARGE SUV,차량크기_SPORTS,차량크기_SMALL SUV,구매지우편번호_te,우편_판매처A,우편_판매처M,우편_생산국가A,우편_생산국가TA
ID,,,,,,,,,,,,,,,,,,,,,
11439,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.098379,0.00000,0.098379,0.098379,0.0
48049,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.124766,0.00000,0.124766,0.124766,0.0
53565,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0.062017,0.00000,0.000000,0.062017,0.0
53039,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.063982,0.00000,0.063982,0.063982,0.0
12246,1,0,1,0,1,0,0,0,0,1,...,1,0,0,0,0,0.109002,0.00000,0.000000,0.109002,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56931,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.098662,0.00000,0.098662,0.098662,0.0
17759,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0.133202,0.00000,0.000000,0.133202,0.0
36043,1,0,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0.077540,0.00000,0.077540,0.077540,0.0
66830,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.147940,0.14794,0.000000,0.147940,0.0
16383,1,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0.092998,0.00000,0.092998,0.092998,0.0

In [603]:
x_all = pd.concat([x_train, x_valid_sync], axis=0).sort_index()
y_all = pd.concat([y_train, y_valid], axis=0).sort_index()

x_all

,프리미엄miss_생산국가A,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,변속기_std,온라인판매여부,판매처_A,판매처_M,생산국가_A,...,차량크기_LARGE,차량크기_SPECIALTY,차량크기_LARGE SUV,차량크기_SPORTS,차량크기_SMALL SUV,구매지우편번호_te,우편_판매처A,우편_판매처M,우편_생산국가A,우편_생산국가TA
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0.106039,0.106039,0.0,0.000000,0.0
2,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.106039,0.106039,0.0,0.106039,0.0
3,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.104914,0.104914,0.0,0.104914,0.0
4,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.106685,0.106685,0.0,0.106685,0.0
5,1,0,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0.107043,0.107043,0.0,0.107043,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.116323,0.116323,0.0,0.116323,0.0
73011,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.117510,0.117510,0.0,0.117510,0.0
73012,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0.124285,0.124285,0.0,0.124285,0.0
73013,1,0,1,0,1,0,0,1,0,1,...,1,0,0,0,0,0.124600,0.124600,0.0,0.124600,0.0
73014,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0.112524,0.112524,0.0,0.000000,0.0

In [604]:
x_all = x_all.reset_index()

x_all

,ID,프리미엄miss_생산국가A,프리미엄_yes,프리미엄_missing,차량보증_red,차량보증_missing,변속기_std,온라인판매여부,판매처_A,판매처_M,...,차량크기_LARGE,차량크기_SPECIALTY,차량크기_LARGE SUV,차량크기_SPORTS,차량크기_SMALL SUV,구매지우편번호_te,우편_판매처A,우편_판매처M,우편_생산국가A,우편_생산국가TA
0,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.106039,0.106039,0.0,0.000000,0.0
1,2,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.106039,0.106039,0.0,0.106039,0.0
2,3,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.104914,0.104914,0.0,0.104914,0.0
3,4,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.106685,0.106685,0.0,0.106685,0.0
4,5,1,0,1,0,1,1,0,1,0,...,0,0,0,0,0,0.107043,0.107043,0.0,0.107043,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,73010,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.116323,0.116323,0.0,0.116323,0.0
72979,73011,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.117510,0.117510,0.0,0.117510,0.0
72980,73012,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.124285,0.124285,0.0,0.124285,0.0
72981,73013,1,0,1,0,1,0,0,1,0,...,1,0,0,0,0,0.124600,0.124600,0.0,0.124600,0.0
72982,73014,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0.112524,0.112524,0.0,0.000000,0.0

In [605]:
x_all.to_csv('lemon_features.csv', index=False, encoding='utf-8')