In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

In [7]:
lemon = pd.read_csv('lemon.csv', encoding='euc-kr', index_col='ID')

lemon.head()

,lemon,구매일자,판매처,연식,차량연령,제조사,모델명,트림,세부모델명,색상,...,현재평균상태소매가격,현재평균이상상태소매가격,프리미엄여부,차량보증,구매자ID,구매지우편번호,구매주,취득비용,온라인판매여부,보증금액
ID,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [ ]:
lemon['lemon'].value_counts(normalize=True)

lemon
0    0.877012
1    0.122988
Name: proportion, dtype: float64

## 카테고리별 lemon 평균

In [22]:
lemon.columns

Index(['lemon', '구매일자', '판매처', '연식', '차량연령', '제조사', '모델명', '트림', '세부모델명', '색상',
       '변속기', '휠타입ID', '휠타입명', '운행거리', '생산국가', '차량크기', '미국제조사명',
       '구매당시평균상태차량가격', '구매당시평균이상상태차량가격', '구매당시평균상태소매가격', '구매당시평균이상상태소매가격',
       '현재평균상태가격', '현재평균이상상태가격', '현재평균상태소매가격', '현재평균이상상태소매가격', '프리미엄여부',
       '차량보증', '구매자ID', '구매지우편번호', '구매주', '취득비용', '온라인판매여부', '보증금액'],
      dtype='object')

In [36]:
col1 = ['차량연령', '프리미엄여부', '차량보증']
col1

['차량연령', '프리미엄여부', '차량보증']

In [37]:
lemon.groupby(col1)['lemon'].mean()

차량연령  프리미엄여부  차량보증
1     NO      GREEN    0.009259
      YES     GREEN    1.000000
2     NO      GREEN    0.011331
              RED      0.000000
      YES     GREEN    0.142857
3     NO      GREEN    0.018762
              RED      0.000000
      YES     GREEN    0.166667
4     NO      GREEN    0.020260
              RED      0.000000
      YES     GREEN    0.062500
5     NO      GREEN    0.049254
              RED      0.083333
      YES     GREEN    0.071429
6     NO      GREEN    0.055422
              RED      0.153846
      YES     GREEN    0.076923
7     NO      GREEN    0.059925
              RED      0.142857
      YES     GREEN    0.000000
8     NO      GREEN    0.068966
              RED      0.200000
      YES     GREEN    0.000000
9     NO      GREEN    0.083333
              RED      0.000000
Name: lemon, dtype: float64

In [ ]:
lemon.groupby(['차량연령'])['lemon'].mean()

차량연령
0    0.000000
1    0.040401
2    0.063664
3    0.081814
4    0.109563
5    0.146264
6    0.180379
7    0.216315
8    0.268919
9    0.312693
Name: lemon, dtype: float64

In [44]:
lemon.groupby(['프리미엄여부'])['lemon'].mean()

프리미엄여부
NO     0.037831
YES    0.096774
Name: lemon, dtype: float64

In [41]:
lemon['프리미엄여부'].value_counts()

프리미엄여부
NO     3357
YES      62
Name: count, dtype: int64

In [61]:
lemon.groupby(['차량보증'])['lemon'].mean()

차량보증
GREEN    0.037425
RED      0.101266
Name: lemon, dtype: float64

In [62]:
lemon['차량보증'].size

72983

In [ ]:
lemon['차량보증']

In [46]:
lemon['차량보증'].value_counts()

차량보증
GREEN    3340
RED        79
Name: count, dtype: int64

In [56]:
lemon.groupby(['차량보증'])['연식'].mean()
lemon.groupby(['차량보증'])['운행거리'].mean()

차량보증
GREEN    76818.967964
RED      93955.227848
Name: 운행거리, dtype: float64