In [35]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from itertools import permutations, combinations
import math

In [36]:
def perm(a,b):
    return len(list(permutations(range(a), b)))

In [37]:
perm(10,5)

30240

In [1]:
def perm(a,b):
    return (math.factorial(a)) / (math.factorial(a-b))

In [39]:
perm(25,9)

741354768000.0

In [40]:
def comb(a,b):
    return len(list(combinations(range(a), b)))

In [41]:
comb(45,6)

8145060

In [42]:
def comb(a,b):
    return math.factorial(a) / (math.factorial(a-b) * math.factorial(b))

In [43]:
comb(45,6)

8145060.0

**조건부확률**

In [44]:
data = {'Male': [288, 672], 'Female': [36, 204]}
df = pd.DataFrame(data=data)
df

   Male  Female
0   288      36
1   672     204

In [45]:
df1 = pd.DataFrame(data=data, index=["Promote", "Non-Promote"])
df1

             Male  Female
Promote       288      36
Non-Promote   672     204

In [49]:
# 컬럼
df1['Sum'] = df1['Male'] + df1['Female'] 

# 인덱스
df1.loc['Sum'] = [np.sum(df1.iloc[:,0]), np.sum(df1.iloc[:,1]), np.sum(df1.iloc[:,2])]

cross_tab = df1
cross_tab

             Male  Female   Sum
Promote       288      36   324
Non-Promote   672     204   876
Sum          2880     720  3600

In [51]:
col_percent = cross_tab.iloc[:,:2] / cross_tab.iloc[2,:2]
col_percent

                 Male    Female
Promote      0.100000  0.050000
Non-Promote  0.233333  0.283333
Sum          1.000000  1.000000

In [52]:
joint_prob_tab = cross_tab / cross_tab.loc['Sum', 'Sum']
joint_prob_tab

                 Male    Female       Sum
Promote      0.080000  0.010000  0.090000
Non-Promote  0.186667  0.056667  0.243333
Sum          0.800000  0.200000  1.000000

In [ ]:
col_percent2 = joint_prob_tab.iloc[:, :3] / joint_prob_tab.iloc[2,:3]
col_percent2

                 Male    Female       Sum
Promote      0.100000  0.050000  0.090000
Non-Promote  0.233333  0.283333  0.243333
Sum          1.000000  1.000000  1.000000