In [41]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [60]:
# 디카를로자동차 사라토가 대리점 사례

# 데이터 입력

Data = {
    'Sales_s' : [0,1,2,3,4,5],
    'Days_s' : [54,117,72,42,12,3]
}

In [43]:
# 데이터프레임 생성

df = pd.DataFrame(Data)
df

   Sales_s  Days_s
0        0      54
1        1     117
2        2      72
3        3      42
4        4      12
5        5       3

In [44]:
# 날짜 합계
Sum_Days =  df['Days_s'].sum()
Sum_Days.item()

300

In [45]:
# 상대도수 열 추가
df['Prob_Sales_s'] = df['Days_s'] / Sum_Days
df

   Sales_s  Days_s  Prob_Sales_s
0        0      54          0.18
1        1     117          0.39
2        2      72          0.24
3        3      42          0.14
4        4      12          0.04
5        5       3          0.01

In [46]:
# 1일 매출의 기댓값

E_X = (df['Sales_s'] * df['Prob_Sales_s']).sum()
E_X.item()

1.5

In [47]:
df['Diff_Sales_s'] = df['Sales_s'] - E_X
df

   Sales_s  Days_s  Prob_Sales_s  Diff_Sales_s
0        0      54          0.18          -1.5
1        1     117          0.39          -0.5
2        2      72          0.24           0.5
3        3      42          0.14           1.5
4        4      12          0.04           2.5
5        5       3          0.01           3.5

In [49]:
# 편차제곱을 열로 추가
df['Diff_squared_s'] = df['Diff_Sales_s'] ** 2 
df

   Sales_s  Days_s  Prob_Sales_s  Diff_Sales_s  Diff_squared_s
0        0      54          0.18          -1.5            2.25
1        1     117          0.39          -0.5            0.25
2        2      72          0.24           0.5            0.25
3        3      42          0.14           1.5            2.25
4        4      12          0.04           2.5            6.25
5        5       3          0.01           3.5           12.25

In [52]:
# 분산
Variance_s = (df['Diff_squared_s'] * df['Prob_Sales_s']).sum()
Variance_s.item()

1.25

In [54]:
# 표준편차
Std_s = np.sqrt(Variance_s)
Std_s.item()

1.118033988749895

In [57]:
print(f"Std_s = {Std_s:.2f}")

Std_s = 1.12

이변량 분포 : 사라토가 & 제네바

In [69]:
# 축 생성 & 두 대리점의 판매량 값 지정
saratoga_values = [0,1,2,3,4,5]
geneve_values =[0,1,2,3]

In [74]:
# 데이터 입력
data = [
    [21,30,24,9,2,0],
    [21,36,33,18,2,1],
    [9,42,9,12,3,2],
    [3,9,6,3,5,0],
]

In [71]:
# 데이터프레임 생성

cross_table = pd.DataFrame(data, columns=saratoga_values, index=geneve_values)
cross_table

    0   1   2   3  4  5
0  21  30  24   9  2  0
1  21  36  33  18  2  1
2   9  42   9  12  3  2
3   3   9   6   3  5  0

In [75]:
# 전체 합계 계산
cross_table.values.sum()

np.int64(300)