In [60]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

In [61]:
# 데이터셋 불러오기 / eai.xlsx

eai = pd.read_excel('eai.xlsx')
eai

      Employee  Annual Salary Training Program
0            1        75769.5               No
1            2        70823.0              Yes
2            3        68408.2               No
3            4        69787.5               No
4            5        72801.6              Yes
...        ...            ...              ...
2495      2496        76873.5               No
2496      2497        67860.7              Yes
2497      2498        76543.7              Yes
2498      2499        73168.8              Yes
2499      2500        68433.3              Yes

[2500 rows x 3 columns]

모집단 분포

In [62]:
eai['Annual Salary']

0       75769.5
1       70823.0
2       68408.2
3       69787.5
4       72801.6
         ...
2495    76873.5
2496    67860.7
2497    76543.7
2498    73168.8
2499    68433.3
Name: Annual Salary, Length: 2500, dtype: float64

In [63]:
mean = eai['Annual Salary'].mean()
std = eai['Annual Salary'].std(ddof=0) # delta degree of freedom : ddof

mean, std

(np.float64(71800.0), 3999.199986577316)

In [64]:
salary = eai['Annual Salary']
salary

0       75769.5
1       70823.0
2       68408.2
3       69787.5
4       72801.6
         ...
2495    76873.5
2496    67860.7
2497    76543.7
2498    73168.8
2499    68433.3
Name: Annual Salary, Length: 2500, dtype: float64

In [65]:
# np.std(salary) / ddof default = 0 
# salary.std() eai['Annual Salary'].std() / ddof default = 1

In [66]:
mean, np.ceil(std)

(np.float64(71800.0), np.float64(4000.0))

In [67]:
eai['Training Program']

0        No
1       Yes
2        No
3        No
4       Yes
       ...
2495     No
2496    Yes
2497    Yes
2498    Yes
2499    Yes
Name: Training Program, Length: 2500, dtype: object

In [68]:
yes_ratio = eai['Training Program'].value_counts(normalize=True)['Yes']  # 정규화

no_ratio = eai['Training Program'].value_counts(normalize=True)['No']

yes_ratio, no_ratio

(np.float64(0.6), np.float64(0.4))

6.3 점추정

In [69]:
eai_sample = eai.sample(n=30, random_state=1).reset_index(drop=True)
eai_sample 
# random_state 고정 해야 함! 1번 랜덤 한 것을 유지시켜서 똑같이 사용하기 위해서!

    Employee  Annual Salary Training Program
0       1407        78237.4              Yes
1        298        73036.3              Yes
2       1277        71922.8               No
3       2369        68539.7               No
4        439        74034.7              Yes
5       2010        72746.7               No
6        643        73503.4               No
7        656        66576.5              Yes
8       1194        72134.8              Yes
9       2411        74683.2               No
10       899        72952.5               No
11       469        70130.1              Yes
12       608        72987.8              Yes
13      2500        68433.3              Yes
14      2263        75390.5              Yes
15       590        73869.6              Yes
16       108        72755.5              Yes
17       536        78950.9              Yes
18      1550        72019.9              Yes
19      1266        64857.2               No
20      1577        72342.4              Yes
21       768        65844.8              Yes
22      2057        68691.2               No
23       704        74896.6              Yes
24      2298        70680.7              Yes
25       852        73371.2               No
26      1282        72422.9               No
27       680        69886.5              Yes
28      2364        73725.7              Yes
29      1495        71589.7               No

In [70]:
# 표본평균
sample_mean = eai_sample['Annual Salary'].mean()

# 표본평균 편차
sample_std = eai_sample['Annual Salary'].std(ddof=1)

# 표본비율
sample_ratio = eai_sample['Training Program'].value_counts(normalize=True)['Yes']

sample_mean, sample_std, sample_ratio

(np.float64(72040.48333333332),
 3201.5728339508296,
 np.float64(0.6333333333333333))

7.4 표본분포 개요

In [71]:
# 가상의 데이터프레임 생성 (2500개의 요소)

# 난수 전체 흐름을 고정
np.random.seed(1)

# 500개의 seed를 미리 생성 
seeds = np.random.randint(0, 10000, size=500)

seeds

array([ 235, 5192,  905, 7813, 2895, 5056,  144, 4225, 7751, 3462, 9394,
       5396, 5374, 2962, 2516, 8444, 3562, 4764, 8093, 6542,  562, 8151,
       3049,  753, 9719, 1888, 1110, 6285, 6121, 1031, 4415, 2877, 3606,
       9529, 2561, 8920, 6771,  431, 4074,  542, 9287, 1478, 1337, 7108,
       8689, 1612, 3098, 1844, 9552, 2669,   15, 2244, 7906, 1306, 9832,
       1046, 3047, 1150, 9495, 3428,  155, 4409,  648, 9504, 7586, 1679,
       7255, 7961, 4039,  243, 1372, 1214, 7470, 5024, 5848, 5271, 4791,
       9537, 9987, 2944, 5373,  461, 1798, 4565, 1478, 4059,  715, 6407,
       6221, 2760, 5195, 7500, 1067, 7710, 9764, 9991, 3885, 6713, 7676,
         96,  269, 6423,  889,  152, 9930, 3212, 8798, 7740,  489,  152,
       3410, 4979, 2178, 9948, 7862, 5984, 2518, 3270, 8519, 7183,   20,
       6774, 1968, 6422, 6629, 3981, 2033,  609, 5813, 1876, 3082, 7264,
        183, 6461, 3640, 7897, 8597, 3303, 7264,  505, 8147, 5145, 5617,
       5006, 2189, 7796, 9003, 3718, 1741,  696, 1979, 5656, 8642, 7493,
       2468,  869, 2808, 6165, 2267, 2737, 5423, 1485, 5582, 5677, 4752,
       5354, 4547, 9076, 4509,  843, 5588, 5168, 7456, 8445,  668, 1311,
       1052, 7498,  109, 5731, 5716,  591, 7337,  832, 7788, 5331, 9329,
       6932, 2092, 9487, 1694, 8667, 7955, 5371, 8583, 1455,  878, 3827,
       4196, 6035, 2499, 5726, 7399, 9303, 1834, 9954, 6976, 3572, 6350,
       8337, 1191, 1187, 4561, 5788, 5782, 6602, 9542, 5785, 3302, 2288,
        690, 6078, 9516, 8809, 7424, 1527, 2832, 4720, 5171, 4975, 2171,
       4420, 7871, 3605, 3452, 5251, 6727, 4813,  143, 4601, 3002, 7125,
       8818, 5870, 6045, 1580, 8342, 2486, 7500, 4472, 8090, 1996, 7111,
       4823, 8615, 8829, 3115, 5580, 4978, 8998, 9819,  624, 9029, 5858,
       2219, 7753, 5428,  601, 4635, 2091, 7295, 8798, 4064, 8602, 8020,
       8734, 1088, 1174, 2658, 7988, 8262, 8844, 7463, 2278, 7919, 1200,
        317, 2502, 2829, 3236, 9666, 7802, 4345, 7519, 8757, 2953, 6825,
       9657, 6509, 2806, 4946,  105, 4132, 7280, 5278, 6356, 8121, 8995,
       4433, 8405, 4944, 2843, 6472, 6684, 1763, 6541, 6884, 5138, 4321,
       7078, 8511, 2547, 1582, 7528, 5095, 4208, 2559, 8907, 7610, 9898,
       4890, 7061, 1594, 6108, 3621, 7145, 5354, 1803, 6038, 2566, 3726,
       2148, 4439, 2251,  379, 2592, 7790, 6833, 6010, 6272, 3734, 5217,
       9892, 7058, 2843, 9830, 9714, 4830,  818,  814,  519, 1693, 9099,
       5565, 8187, 9210, 9998, 5256,  944, 6594,  732, 8896, 2791, 4753,
       8609, 7196, 7045, 7033,   42, 9814, 8116,  312, 6734, 8023, 8186,
        373,  721, 7880, 5936, 6645, 5516, 8345, 8525, 5380, 4056, 9078,
       4763, 2994, 2884, 9859, 1722, 1888, 9615, 4602, 5004, 2962, 1182,
       3717, 8336, 1887, 9148, 3820, 5867, 9516, 5967, 9107, 8013, 2599,
       2172, 4138, 3918, 3110, 8570, 5841, 3845, 5626, 3302, 6645, 7560,
       8488, 4293, 6151, 1486, 2853, 9065, 8526, 7713, 3102, 9131,  174,
       1033, 3843, 5059, 4918, 1983, 9443, 9808, 3356, 8869, 1472, 5541,
       5085,  402, 6478, 5479, 8646, 3036, 5172, 6538, 8255, 7901,  658,
       5624, 5159, 1590, 1207, 5052, 5516,   71, 9819, 9095, 3452,  467,
       7731, 5694, 1632, 3222, 5595, 4191, 3478, 7884, 1389, 3094, 5094,
       5405,   52, 3615, 8930, 1491, 8569, 4438, 9904, 8604, 7891, 4891,
       5711, 9030, 4440, 1018, 4310])

In [72]:
# 30개 짜리 표본을 500개 추출
# 각 표본에서 'Annual Salary'의 평균 계산, 'Training Program'에서 'Yes' 비율 계산

sample_means = []
sample_ratios = []

for seed in seeds:
    sample = eai.sample(n=30, random_state=seed)
    sample_mean = sample['Annual Salary'].mean()
    sample_ratio = (sample['Training Program'] == 'Yes').mean()
    sample_means.append(sample_mean)
    sample_ratios.append(sample_ratio)

# eai_500sample 데이터프레임 생성

eai_500sample = pd.DataFrame({
    'sample_mean' : sample_means,
    'sample_ratio' : sample_ratios
})

eai_500sample # 표 7.4와 같아야 함

      sample_mean  sample_ratio
0    72282.970000      0.633333
1    71569.893333      0.466667
2    71411.900000      0.633333
3    71647.356667      0.533333
4    71026.153333      0.533333
..            ...           ...
495  69516.290000      0.533333
496  71974.586667      0.600000
497  71806.080000      0.466667
498  72505.296667      0.700000
499  70612.623333      0.600000

[500 rows x 2 columns]

sample_mean의 도수분포 : 표 7.5

In [73]:
eai_500sample['sample_mean'].min(), eai_500sample['sample_mean'].max()

(69516.29, 74125.63666666667)

In [83]:
# 500단위로 계급 구간 생성
bins = np.arange(69500, 75000, 500)

In [84]:
# 계급 도수 계산
frequency = pd.cut(eai_500sample['sample_mean'], bins=bins).value_counts().sort_index()

In [85]:
# 상대 도수 계산
relative_frequency = frequency / frequency.sum()

In [86]:
# 데이터프레임 생성
result_eai = pd.DataFrame({
    'frequency': frequency,
    'relative_frequency': relative_frequency
})

result_eai

                frequency  relative_frequency
sample_mean
(69500, 70000]          2               0.004
(70000, 70500]         14               0.028
(70500, 71000]         48               0.096
(71000, 71500]        100               0.200
(71500, 72000]        145               0.290
(72000, 72500]        114               0.228
(72500, 73000]         50               0.100
(73000, 73500]         22               0.044
(73500, 74000]          4               0.008
(74000, 74500]          1               0.002

In [87]:
result_eai.index.name = 'interval'

result_eai

                frequency  relative_frequency
interval
(69500, 70000]          2               0.004
(70000, 70500]         14               0.028
(70500, 71000]         48               0.096
(71000, 71500]        100               0.200
(71500, 72000]        145               0.290
(72000, 72500]        114               0.228
(72500, 73000]         50               0.100
(73000, 73500]         22               0.044
(73500, 74000]          4               0.008
(74000, 74500]          1               0.002