8.2 모집단 평균의 추정 (모집단 분산이 알려지지 않은 경우)

In [ ]:
# 표본표준편차 s로 대신하고, student t 분포

import numpy as np
import pandas as pd
import scipy.stats as stats

In [7]:
new = pd.read_excel('newbalance.xlsx')
new

    NewBalance
0         9430
1         7535
2         4078
3         5604
4         5179
..         ...
65       15415
66       15917
67       12591
68        9743
69       10324

[70 rows x 1 columns]

In [9]:
n = len(new['NewBalance'])
n

70

In [10]:
rv_t = stats.t(n-1)

In [13]:
sample_mean = new['NewBalance'].mean()
sample_std = new['NewBalance'].std(ddof=1)
se_sample_mean = sample_std / np.sqrt(n)

# 표본평균, 표본표준편차, 평균의 표준오차
sample_mean, sample_std, se_sample_mean

(np.float64(9312.0), 4006.9998499003527, np.float64(478.92808581995223))

In [16]:
# 95% 신뢰구간의 오른쪽 경계선 t값
# (1 - 0.95) / 2 = 0.025

rv_t.isf(0.025).round(4)

np.float64(1.9949)

In [18]:
# 오차한계 (E)
e = rv_t.isf(0.025) * se_sample_mean
e

np.float64(955.4353889725995)

In [21]:
# 95% 신뢰구간의 상한 upper confidence limit
# 95% 신뢰구간의 하한 lower confidence limit

lcl = sample_mean - e
ucl = sample_mean + e

lcl.round(0), ucl.round(0)

(np.float64(8357.0), np.float64(10267.0))